// Place all the styles related to the api/bookshelves controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .books {
  // transform: rotate(90deg);
  // display: flex;
  // justify-content: center;
  // align-items: center;
// }
//
// .book {
//   // transform: rotate(-90deg);
// }
//
// .cssTransforms {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }
//

.react-draggable {
  transform-style: preserve-3d;
}

.react-draggable-dragging .book {
  // transform: translateZ(150px) rotate(-90deg);
  transform: translateZ(150px);
  // translateZ to simulate pulling the book out of the shelf 
  // translated to default depth of book currently
  // ideally would be programatically set - either by max depth or per book
  transform-style: preserve-3d;
  transition-duration: 100ms;
  z-index: 100;
}
