// USEFUL FOR TESTING IN CHROME DEV TOOLS

// for finding divs
.shelf {border: 2px solid grey;}
.bookPosition {border: 2px solid red;}
.react-draggable {border: 2px solid orange;}
.book {border: 2px solid yellow;}
.container {border: 2px solid green;}
.box {border: 2px solid blue;}
.figure {border: 3px solid purple;}

//for inspecting depth
.shelf {transform: rotateX(-90deg);}
